<h1>Adicionar Novo Distrito</h1>
<form action="/distritos/<%= provincia_id %>/novo<%= queryParams %>" method="POST">
    <input type="text" name="nome" placeholder="Nome do Distrito" required>
    <button type="submit">Adicionar</button>
</form>
