<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Nova Localidade</title>
</head>
<body>
    <h1>Adicionar Nova Localidade</h1>

    
<form action="/links/novo" method="POST">
   
    <button type="submit">Adicionar</button>
</form>
<label for="text"> cada link soh pode ser usado 20 vezes por seguranca</label>
<label for="text"><a href="http://localhost:3000/links/novo?<%= link %>">http://localhost:3000/links/novo?<%= link %></a></label>

    
</body>
</html>